
body {
   background-color: #3A3370;
}
#topper {
    background-color: #3A3370;
   height: 370px;
    margin:0px 0px 0px 0px; 
}
#navigation{
    height: 140px;
    background-color: #968FCC;
}
img {
   width: 350px; 
    border-radius: 500px;
    margin:10px 0px 0px 0px;
    border:10px solid #FFC800; 
}
h1 {
    font-size: 90px;
    text-transform: uppercase;
    margin:0px 0px 0px 0px; 
  padding-top: 80px;
    color: #968FCC;
    font-family: 'Bungee', sans-serif;

}
h2 {
    text-align: center;
    margin:20px 0px 0px 0px; 
    color: #FFCA0A;
    font-family: 'Bungee', sans-serif;
}
h3{

    font-size: 35px;
    font-family: 'Bungee', sans-serif;
    font-weight: 1000;
    color: #968FCC;
    padding-top: 5px;
}
h4{
   font-size: 70px;
    color: #FFC800;
    font-family: 'Bungee', sans-serif;\
    text-align: center;
 
}
h5{
    margin:20px 20px 20px 20px; 
    font-size: 45px;
    font-family: 'Yrsa', serif;
    color: white;
}
h6{
    margin:10px 20px 05px 20px; 
    font-size: 40px;
    font-family: 'Yrsa', serif;
    color: white;
}
h7{
    margin:0px 20px 20px 20px; 
    font-size: 15px;
    font-family: 'Yrsa', serif;
    color: white;
    text-decoration: underline; 
}
h8{
    margin: 0px 0px 0px 0px; 
    padding-top: 0px;
    font-size: 20px;
    font-family: 'Yrsa', serif;
    color: white;   
}
}
p {  
    margin: 0px 0px 0px 0px; 
    padding-top: 0px;
    font-size: 20px;
    font-family: 'Yrsa', serif;
    color: white;
}
button {
    background-color: #BEB9DF;
    border-style: solid;
    color: #968FCC;
    border-width: 3PX;
    border-color: #3A3370;
    border-radius: 15px;
    float: center;
    margin: 30px 0px 30px 0px;
    height: 80px;
    width: 200px;
    font-size: 30px;
    font-family: 'Yrsa', serif;
}

#contact-button {
   background-color: #FFCA0A;
    border:none;
    margin: 30px 0px 30px 0px;
    float: center;
    width: 250px;
    height: 75px;
    font-size: 30px;
    font-family: 'Yrsa', serif; 
}


#contact-button:hover {
   background-color: #3A3370;
    border:solid;
    border-width:8px; 
    border-color: #FFCA0A;
    border-radius: 15px;

}
button:hover {
    background-color: #3A3370;
}
#footer {
    background-color: #FFCA0A;
    position: fixed;
    bottom: 0px;
    
}

