
body {
   background-color: #3A3370;
}
#topper {
    background-color: #968FCC;
   height: 380px;
    margin:0px 0px 0px 0px; 
}
img {
   width: 300px; 
    border-radius: 500px;
    margin:50px 0px 0px 0px;
    border:8px solid #FFC800; 
}
h1 {
    font-size: 80px;
    text-transform: uppercase;
    margin:0px 0px 0px 0px; 
  padding-top: 100px;
    color: #3A3370;
    font-family: 'Bungee', sans-serif;

}
h2 {
    margin-right: 350px;
    text-align: center;
    margin:20px 0px 0px 0px; 
    color: #FFCA0A;
    font-family: 'Bungee', sans-serif;
}
h3{

    font-size: 35px;
    font-family: 'Bungee', sans-serif;
    font-weight: 1000;
    color: #3A3370;
}
p {  
    margin:0px 200px 0px 200px; 
    padding-top: 50px;
    font-size: 18px;
    font-family: 'Yrsa', serif;
    color: white;
}
button {
    background-color: #968FCC;
    border-style: solid;
    color: #968FCC;
    border-width: 8PX;
    border-color: #968FCC;
    border-radius: 30px;
    float: center;
    margin: 50px 10px 0px 10px;
    width: 200px;
    height: 100px;
    font-size: 30px;
    font-family: 'Yrsa', serif;
    text-align: center;
}
#contact-button {
   background-color: #FFCA0A;
    border:none;
    margin: 50px 0px 0px 0px;
    float: center;
    width: 300px;
    height: 100px;
    font-size: 40px;
    font-family: 'Yrsa', serif; 
}


#contact-button:hover {
   background-color: #3A3370;
    border-style: solid;
    color: white;
    border-width: 8PX;
    border-color: #CCA000;
    border-radius: 30px;
    float: center;
    margin-top: 50px;
    width: 300px;
    height: 100px;
    font-size: 40px;
    font-family: 'Yrsa', serif;
}
button:hover {
    background-color: #3A3370;
    border-style: solid;
    border-width: 8PX;
    border-color: #968FCC;
    color: #000000;
    border-radius: 30px;
    float: center;
    margin: 50px 0px 0px 0px;
    width: 200px;
    height: 100px;
    font-size: 30px;
    font-family: 'Yrsa', serif;
}
.nav a {
    font-family: 'Yrsa', serif;
    color: #968FCC;
}
.nav a:hover{
    
   font-family: 'Yrsa', serif;
    color: white;   
    
}